.rc {
  display: none;
  position: fixed;
  overflow: hidden;
  background-color: white;
  box-shadow: 1px 5px 1.5rem 0px rgb(221,221,221);
  overflow-y: scroll; 
  -webkit-overflow-scrolling: touch; /* enable momentum-based scrolling on iOS */
  /* Horizontal center */
  left: 50%;
  transform: translateX(-50%);
}

.rc-close-btn {
  position: fixed;
  top: 18px;
  right: 10px;
  width: 25px;
  height: 25px;
  opacity: 0.8;
}

.rc-picture {
  width: 100%;
  height: 400px;
  background-position: left;
}

.rc-content {
  color: grey;
  font-size: 1rem;
}

.rc-content>p {
  margin: 1rem;
}

.rc-content>img {
  width: 100%;
}

.rc-app {
  height: 250px;
  background-color: rgb(240, 244, 247);
}

.rc-share {
  height: 150px;
}

.rc-share-content {
  width: 140px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(240, 240, 245);
  text-align: center;
  line-height: 49px;
  color: rgb(23, 121, 227);
  font-weight: bolder;
}

.app-avatar {
  width: 80px;
  height: 80px;
  border-radius: 15px;
}

.app-name {
  color: rgb(23, 121, 227);
  font: 1.2rem bolder;
}

.app-description {
  color: grey;
}

.app-get {
  width: 70px;
  height: 28px;
  line-height: 27px;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 15px;
  background-color: rgb(23, 121, 227);
  border-radius: 20px;
}

.footer-nav {
  position: fixed;
  bottom: -65px;
  padding: 0 10px 0;
  height: 65px;
  width: 98%;
  opacity: 0.98;
  border-radius: 14px;
  background-color: rgb(240, 244, 247);
  /* Horizontal center */
  left: 50%;
  transform: translateX(-50%);
}

.slice-up {
    animation: slice-up 0.8s ease-out forwards;
}

.slice-down {
    animation: slice-down 0.3s ease-out forwards;
}

@keyframes slice-up {
    0% { bottom: -65px }
    40% { bottom: 12px }
    80% { bottom: 4px }
    100% { bottom: 5px }
}

@keyframes slice-down {
    0% { bottom: 5px }
    100% { bottom: -65px }
}

.nav-avatar {
  border-radius: 12px;
  width: 45px;
  height: 45px;
}
.nav-description {
  flex: auto;
  margin-left: 12px;
}
.nav-description > div:first-child {
  font-size: 0.9rem;
  font-weight: bolder;
}
.nav-description > div + div {
  font-size: 0.8rem;
}
.nav-get {
  width: 70px;
  height: 26px;
  opacity: 0.8;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 15px;
  background-color: rgb(50,50,50);
  border-radius: 20px;
}