<main class="m-3">
  <header class="d-flex justify-content-between">
      <div class="date-info">
          <h6>{{currentTime}}</h6>
          <h2>Today</h2>
      </div>
      <img class="align-self-center rounded-circle user-avatar" />
  </header>

  <section class="d-flex flex-column">
      <article class="mb-4 d-flex app-card">
          <div class="p-4 app-content">
              <h6>游戏人生</h6>
              <h3>向前走，一直到尽头</h3>
          </div>
      </article>
      <article class="mb-4 d-flex app-card">
          <div class="p-4 app-content">

          </div>
      </article>
  </section>

  <footer class="mt-4">
      <button class="d-block w-100 mb-2 long-btn">兑换</button>
      <button class="d-block w-100 long-btn">为 Apple ID 充值</button>
      <hr>
      <a class="terms" href="#">条款与条件</a>
  </footer>
</main>

<app-recommend></app-recommend>
