<main class="m-3">
  <header class="d-flex justify-content-between">
    <div class="date-info">
      <h6>{{currentTime}}</h6>
      <h2>Today</h2>
    </div>
    <img class="align-self-center rounded-circle user-avatar" />
  </header>

  <section class="d-flex flex-column">
    <article *ngFor="let app of apps" class="mb-4 d-flex app-card" (click)="fadingIn($event)">
      <div *ngIf="app.imgUrl" class="p-4 app-content" [style.background-image]="'url('+app.imgUrl+')'">
        <h6>{{app.title}}</h6>
        <h3>{{app.description}}</h3>
      </div>
      <div *ngIf="app.gifUrl" class="p-4 app-content" [style.background-image]="'url('+app.gifUrl+')'">
        <h6>{{app.title}}</h6>
        <h3>{{app.description}}</h3>
      </div>
      <div *ngIf="app.videoUrl" class="app-content">
        <video class="video-top" src={{app.videoUrl}} autoplay>
        </video>
        <div class="p-4">
          <h6>{{app.title}}</h6>
          <h3>{{app.description}}</h3>
        </div>
      </div>
    </article>
  </section>

  <footer class="mt-4">
    <button class="d-block w-100 mb-2 long-btn">兑换</button>
    <button class="d-block w-100 long-btn">为 Apple ID 充值</button>
    <hr>
    <a class="terms" href="#">条款与条件</a>
  </footer>
</main>

<app-recommend></app-recommend>
